<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.wyq.tmall.mapper.CategoryMapper">
	
	<!-- 提供带分页的查询语句和获取总数的sql语句 -->
    <select id="list" resultType="Category">
        select * from   category  order by id desc
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>
 
    </select>
    <select id="total" resultType="int">
        select count(*) from category
    </select>
    
    <!-- 
     	需要加上2个属性：keyProperty="id" useGeneratedKeys="true" 
     	以确保Category对象通过mybatis增加到数据库之后得到的id增长值会被设置在Category对象上。 因为在保存分类图片的时候需要用到这个id值
     -->
    <insert id="add"  keyProperty="id"  useGeneratedKeys="true" parameterType="Category" >
        insert into category ( name ) values (#{name})
    </insert>
    
    <!-- 提供删除的方法 -->
    <delete id="delete">
        delete from category where id= #{id}
    </delete>
    
    <!-- 通过id获取Category对象 -->
    <select id="get" resultType="Category">
        select * from category  where id= #{id}
    </select>
    
    <!-- 提供修改的方法 -->
    <update id="update" parameterType="Category" >
        update category set name=#{name} where id=#{id}
    </update>
    
</mapper>
